<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:networkSecurityConfig="@xml/network_security_config"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyShop"
        tools:targetApi="31">
        <activity
            android:name=".activity.user.MySOrderActivity"
            android:exported="false" />
        <activity
            android:name=".activity.usecase.ListCategoryProductActivity"
            android:exported="false" />
        <activity
            android:name=".activity.user.StatisticsActivity"
            android:exported="false" />
        <activity
            android:name=".activity.sales_order.DetailCanceledSOrderMainActivity"
            android:exported="false" />
        <activity
            android:name=".activity.sales_order.DetailCompleteSOrderMainActivity"
            android:exported="false" />
        <activity
            android:name=".activity.sales_order.DetailDeliverySOrderMainActivity"
            android:exported="false" />
        <activity
            android:name=".activity.sales_order.DetailConfirmSOrderMainActivity"
            android:exported="false" />
        <activity
            android:name=".activity.order.DetailCanceledOrderMainActivity"
            android:exported="false" />
        <activity
            android:name=".activity.order.DetailCompleteOrderMainActivity"
            android:exported="false" />
        <activity
            android:name=".activity.order.DetailDeliveryOrderMainActivity"
            android:exported="false" />
        <activity
            android:name=".activity.order.DetailConfirmOrderMainActivity"
            android:exported="false" />
        <activity
            android:name=".activity.user.MyOrderActivity"
            android:exported="false" />
        <activity
            android:name=".activity.usecase.ListProductActivity"
            android:exported="false" />
        <activity
            android:name=".activity.user.LikeProductsActivity"
            android:exported="false" />
        <activity
            android:name=".activity.setting.AddressActivity"
            android:exported="false" />
        <activity
            android:name=".activity.setting.UserInfoActivity"
            android:exported="false" />
        <activity
            android:name=".activity.usecase.BuyActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="app"
                    android:scheme="demozpdk" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.usecase.ProductActivity"
            android:exported="false" />
        <activity
            android:name=".activity.usecase.CartActivity"
            android:exported="false" />
        <activity
            android:name=".activity.func.AddProductActivity"
            android:exported="false" />
        <activity
            android:name=".activity.user.MyShopActivity"
            android:exported="false" />
        <activity
            android:name=".activity.user.AccountSettingActivity"
            android:exported="false" />
        <activity
            android:name=".activity.func.ForgotActivity"
            android:exported="false" />
        <activity
            android:name=".activity.func.SignupActivity"
            android:exported="false" />
        <activity
            android:name=".activity.func.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".activity.MainActivity"
            android:exported="false" />
        <activity
            android:name=".activity.StartActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>